*.aux
*.log
*.out
*.blg
*.gls
*.glo
*.toc
*.bbl
*.ist
*.glg
*.acn
*.listing
*.alg
*.acr
*.idx
*.lof
*.lof
*.gz
Plantilla/ResultadosEncovi/
*.fls
*.ind
*.ilg
*.fdb_latexmk
.Rproj.user
.Rhistory
Utilidades
__pycache__
INEIPC
IPC C.A. REP. DOMINICANA Y MÉXICO.xlsx
funcionesjo.py
descriptoripc.py
datosipc.py
cambio.xml
FFPI.xls
Temp
tasa_interes.xls
prueba.py