*.aux
*.log
*.out
*.blg
*.gls
*.glo
*.toc
*.bbl
*.ist
*.glg
*.acn
*.listing
*.alg
*.acr
*.idx
*.lof
*.lof
*.gz
Plantilla/ResultadosEncovi/
*.fls
*.ind
*.ilg
*.fdb_latexmk
.Rproj.user
.Rhistory
main.py
Utilidades