*.aux
*.log
*.out
*.blg
*.gls
*.glo
*.toc
*.bbl
*.ist
*.glg
*.acn
*.listing
*.alg
*.acr
*.idx
*.lof
*.lof
*.gz
Plantilla/ResultadosEncovi/
*.fls
*.ind
*.ilg
*.fdb_latexmk
.Rproj.user
.Rhistory
Utilidades
__pycache__
IPC C.A. REP. DOMINICANA Y MÉXICO.xlsx
descriptoripc.py
datosipc.py
cambio.xml
FFPI.xls
Temp
tasa_interes.xls
prueba.py
sqline.py
regiones.py
setup.py
Dictionary
.vscode
*.xlsx
.DS_Store
main2.py
query_fuentes.txt
db_b/